[Unit]
Description=VBox Virtual Machine %i Service

[Service]
Environment="VBOX_USER_HOME=/home/user/VirtualBox VMs/%i"
ExecStart= /usr/bin/VBoxHeadless -s %i
ExecStop=/usr/bin/vboxmanage controlvm %i poweroff

[Install]
WantedBy=multi-user.target
